%top-white-btn
    width: 22.2rem
    height: 7.1rem
    background-color: $top-white
    text-transform: uppercase
    text-decoration: none
    font-family: $TTHoves
    font-weight: $fw400
    font-size: 1.2rem
    line-height: 1.2rem
    color: $top-color
    letter-spacing: 0.2rem
    position: relative
    transition: .3s ease all
    display: flex
    align-items: center
    justify-content: center
    &::after
        content: ""
        background: url(../images/arrow-right-icon.svg) no-repeat center
        width: 1.7rem
        height: 0.7rem
        top: .3rem
        padding-right: 1.5rem
    &:hover
        background-color: #221c1ce6
        color: $top-white
    &:hover:after
        background-image: url(../images/arrow-hover.svg)
        background-repeat: no-repeat
        width: 1.7rem
        height: 0.7rem

%top-color-btn
    width: 22.2rem
    height: 7.1rem
    background-color: $top-color
    text-transform: uppercase
    text-decoration: none
    font-family: $TTHoves
    font-weight: $fw400
    font-size: 1.2rem
    line-height: 1.2rem
    color: $top-white
    letter-spacing: 0.2rem
    position: relative
    transition: .3s ease all
    display: flex
    align-items: center
    justify-content: center
    // arrow-hover.svg
    &::after
        content: ""
        background: url(../images/arrow-hover.svg) no-repeat center
        width: 1.7rem
        height: 0.7rem
        top: .3rem
        padding-right: 1.5rem
    &:hover
        background-color: #FBFBFB
        color: $top-color
    &:hover:after
        background-image: url(../images/arrow-right-icon.svg)
        background-repeat: no-repeat
        width: 1.7rem
        height: 0.7rem
